.funcionamento {
    font-weight: 400;
    font-size: 12px;
    margin-right: 430px;
    width: 240px;
    }
    
    .funcionamento1 {
        font-weight: 400;
        font-size: 12px;
        margin-right: 530px;
        width: 240px;
        }
    
    .coluna {
        width: 25%;
    }